{% extends 'base.html.Twig' %}

{% block body %}
<img src={{asset('media/online-education.jpg')}} width="50%" height="20%" ><br>
 HELLO FROM TUNISIA 
  <h2>built widht Ahlem & Jasser </h2>
  <a href="\index"> home page </a>
<footer class="bg-secondary-200 p-4 text-left text-secondary-700 dark:bg-secondary-700 dark:text-secondary-200">

    ©  Copyright 23:
    <a
     
      href="/index"
      >about us</a
    >

</footer>

 
  {% endblock %}