{% extends 'base.html.Twig' %}

{% block body %}


<img src={{asset('media/imgt.jpg')}} width="50%" height="20%" ><br>
 HELLO FROM TUNISIA 
 
  <p> its currently {{'now'|date('h: i A')}}</p>
  
</p>

  <a href="/About"> About </a>
  <footer class="bg-secondary-200 p-4 text-left text-secondary-700 dark:bg-secondary-700 dark:text-secondary-200">

    ©  Copyright 23:
    <a
     
      href="C:\xampp\htdocs\J-A-project\templates\pages\index.html.twig"
      >about us</a
    >

</footer>

  {% endblock %}
